/* Sass variables and Classes -------------- */

$primary-color: #0000ff;
$primary-color-transparent: rgba(0,0,256,0.3);
$dark-grey: #555;

$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;

.scss-large-content-font {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 5vw;
}
@media screen and (min-width: $screen-lg-min) {
  .scss-large-content-font {
    font-size: 64px;
  }
}
@media screen and (min-width: $screen-md-min) {
  .hv-about-banner-text {
    font-size: 48px;
  }
}
@media all and (max-width: $screen-xs-max) {
  .scss-large-content-font {
    font-size: 42px;
  }
}

/* ========================================== 
   Default
   ========================================== */

/* Base ------------------------------------- */
body {
  min-width: $screen-xs-max;
  font: 14px Open Sans, Helvetica, Arial, sans-serif;
}

/* Navigation ------------------------------- */
.hv-nav {
  width: 70px;
  height: 70px;
  background-color: $primary-color;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  left: 0px;
  top: 0px;
}
.hv-nav img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.hv-nav-expanded {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $primary-color;
  display: none;
  font-family: Montserrat;
}
.hv-nav-links {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);;
  color: white;
}
.hv-nav-link {
  color: white;
  font-size: 2.4vw;
  margin: 4vh auto;
}

/* Newsletter ------------------------------ */

.hv-newsletter {
  @extend .scss-large-content-font;
  background-color: $primary-color;
  font-weight: 400 !important;
  height: 20vw;
  color: white;
  position: relative;
}
.hv-newsletter-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  line-height: 1.4em;
}
@media all and (max-width: $screen-xs-max) {
  .hv-newsletter {
    height: 150px;
  }
}
.hv-newsletter-form {
  border-bottom: 4px solid white;
}
.hv-newsletter-input {
  background-color: $primary-color;
  border: 0px;
}
.hv-newsletter-input:focus ,
.hv-newsletter-submit:focus {
  outline-width: 0;
}
.hv-newsletter-submit {
  border: 0px;
  background-color: white;
  color: $primary-color;
}

/* Footer ----------------------------------- */

.hv-footer-information {
  height: 5vw;
  background-color: #ccc;
}
.hv-footer-copyright {
  line-height: 5vw;
  display: inline-block;
  color: $dark-grey;
}
.hv-footer-links-wrapper {
  float: right;
  display: inline-block;
}
.hv-footer-link {
  line-height: 5vw;
  display: inline-block;
  padding-left: 2vw;
}
.hv-footer-link a {
  color: $dark-grey;
  text-decoration: none;
}
@media all and (max-width: $screen-xs-max) {
  .hv-footer-information {
    min-height: 60px;
  }
  .hv-footer-copyright ,
  .hv-footer-link {
    line-height: 60px;
  }
}

/* ========================================== 
   Home
   ========================================== */

/* Banners ---------------------------------- */
.hv-banners {
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}
.hv-banner {
  display: none;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  max-height: 60vw;
  min-height: 390px;
}
.hv-banner.active {
  display: block;
}
.hv-banner-nav-container {
  float: right;
  margin-top: 12px;
  margin-bottom: 10vh;
}
.hv-banner-nav {
  border: 2px solid $primary-color;
  color: $primary-color;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
  margin-left: 6px;
}
.hv-banner-nav.active {
  background-color: $primary-color;
  color: white;
}

/* Mission ---------------------------------- */
.hv-mission-container {
  @extend .scss-large-content-font;
  position: relative;
  margin-bottom: 10vh;
  min-width: $screen-xs-max - 48;
}

.hv-art-mission,
.hv-commercial-mission {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: 50%;
}
.hv-art-mission {
  text-align: right;
  direction: rtl;
  color: $primary-color;
  right: 0px;
}

/* Case Study -------------------------------- */
.hv-case-study {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.hv-case-study-img {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: $screen-xs-max;
  height: 100vh;
}
.hv-case-study-bg {
  min-width: $screen-xs-max;
  width: 100vw;
  min-width: 768px;
  max-height: 800px;
  height: 100vh;
  background-color: $primary-color-transparent;;
  position: relative;
}
@media all and (min-width: $screen-lg-min) {
  .hv-case-study-img {
    width: 100%;
  }
}
.hv-case-study-contents {
  top: 40%;
  position: absolute;
}
.hv-case-study-title-container {
  background-color: $primary-color;
  display: inline-block;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.hv-case-study-logo {
  height: 7vw;
  width: auto;
  vertical-align: top;
}
.hv-case-study-title {
  @extend .scss-large-content-font;
  font-weight: 400 !important;
  color: white;
  line-height: 7vw;
}
.hv-case-study-catch {
  font-family: Montserrat;
  font-size: 3vw;
  color: white;
  margin-top: 3vh;
  width: 60%;
}
.hv-case-study-link {
  font-family: Montserrat;
  color: $primary-color;
  background-color: white;
  font-size: 2vw;
  padding: 2vh;
  margin-top: 3vh;
  display: inline-block;
  font-weight: 700;
}
@media all and (max-width: $screen-xs-max) {
  .hv-case-study {
    min-width: $screen-xs-max;
  }
  .hv-case-study-contents {
    top: 30%;
  }
  .hv-case-study-img, .hv-case-study-bg {
    height: 500px;
  }
  .hv-case-study-title-container {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .hv-case-study-logo {
    height: 56px;
    width: 56px;
  }
  .hv-case-study-title {
    font-size: 40px;
    line-height: 56px;
  }
  .hv-case-study-catch {
    font-size: 24px;
  }
  .hv-case-study-link {
    font-size: 18px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .hv-case-study-img, .hv-case-study-bg {
    height: 560px;
  }
}

/* Project Grid -------------------------------- */
.hv-projects-heading {
  @extend .scss-large-content-font;
  margin-top: 10vh;
  position: relative;
  margin-bottom: 10vh;
  min-width: $screen-xs-max - 30;
  color: $primary-color;
}
.hv-projects-banners {
  margin-bottom: 10vh;
}
.hv-project-banner-wrapper {
  margin-bottom: 30px;
}
.hv-project-banner-bg {
  background-color: #aaa; /* load color */
  color: white;
  position: relative;
  cursor: pointer;
}
.hv-project-banner-header {
  position: relative;
  height: 80px;
}
.hv-project-banner-header-logo {
  height: 80px;
  width: auto;
}
.hv-project-banner-header-link {
  float:right; 
  line-height: 80px;
  font-size: 20px;
  color: white;
  margin-right: 12px;
}
.hv-project-banner-content {
  position: relative;
  height: 440px;
}
.hv-project-banner-description ,
.hv-project-banner-image-wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
}
.hv-project-banner-description {
  padding:10%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
}
.hv-project-banner-image-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.hv-project-banner-image {
  height: 100%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  bottom: 0px;
}

/* ==========================================
   Project Page 
   ========================================== */

/* Project page - slideshow/title ----------- */

.hv-project-title {
  @extend .scss-large-content-font;
  color: white;
  margin-top: 10vh;
  text-align: center;
}
.hv-project-description {
  font-size: Montserrat;
  color: white;
  text-align: center;
  font-size: 1.4em;
}
.hv-project-slideshow-wrapper {
  width: 100vw;
}
.hv-project-slideshow {
  margin-top: 8vh;
  position: relative;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
.hv-project-slide.active {
  display: block;
}
.hv-project-slide {
  display: none;
  width: 100% ;
}
.hv-project-nav-container {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  margin-top: 18px;
  text-align: center;
}
.hv-project-nav {
  border: 2px solid #ccc;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
  margin-left: 6px;
}
.hv-project-nav.active {
  text-decoration: underline;
}
@media all and (max-width: $screen-xs-max) {
  .hv-project-slideshow-wrapper {
    min-width: $screen-xs-max;
  }
  .hv-project-slideshow {
    margin-top: 5vh;
  }
}

/* Project page - content ----------- */

.hv-project-express ,
.hv-project-content {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.hv-project-content img, 
.hv-project-content iframe {
  max-width: 100%;
}
.hv-project-content h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 0px !important;
  font-weight: 700 !important;
}
.hv-project-content p {
  margin-bottom: 20px;
}
.hv-project-content {
  line-height: 1.6em;
  font-size: 1.2em;
  color: #333;
}
.hv-project-content p {
  margin-bottom: 20px;
}
@media all and (max-width: $screen-xs-max) {
  .hv-project-express ,
  .hv-project-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.hv-project-logo-wrapper {
  width: 100%;
  text-align: center;
}
.hv-project-logo-link {
  border-radius: 2px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;

}
.hv-project-logo {
  width: 100%;
}
.hv-project-info-title {
  font-weight: 700;
  font-size: 2.0em;
}
.hv-project-info-year {
  font-weight: 400;
}

/* Project Page - share ---------------- */

.hv-project-share {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto 20px auto;
}
.hv-project-share-label {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 12px;
}
.hv-project-social-container {
  margin: 6px auto;
  text-align: center;
}
.hv-project-social {
  display: inline-block;
  margin: 20px 12px;
}
.hv-project-social-icon {
  width: 60px;
  height: 60px;
  font-size: 1.8em;
  text-align: center;
  line-height: 50px;
  border-radius: 45px;
  border: 5px solid !important;
  color: white;
}
.hv-project-social-label {
  font-size: 1.0em;
  margin-top: 12px;
}
.hv-project-share-link {
  font-size: 3.0em;
  font-weight: 700;
  text-align: center;
  font-family: Montserrat;
}

/* ==========================================
   About Page 
   ========================================== */

.hv-about-banner {
  background-size: cover;
  width: 100%;
  min-height: 500px;
  max-height: 1000px;
  position: relative;
  overflow: hidden;
}
.hv-about-banner-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.hv-about-banner-text {
  @extend .scss-large-content-font;
  color: white;
  width: 100%;
  max-width: $screen-lg-min;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
@media screen and (min-width: $screen-lg-min) {
  .hv-about-banner-image {
    width: 100%;
  }
}
.hv-services-heading {
  @extend .scss-large-content-font;
  margin-top: 8vh;
  margin-bottom: 4vh;
  text-align: center;
  color: $primary-color;
}
@media screen and (min-width: $screen-lg-min) {
  .hv-services-heading {
    font-size: 48px;
  }
}
.hv-service-wrapper {
  padding-right: 15px;
}
.hv-services {
  margin-bottom: 8vh;
}
.hv-service {
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  height: 400px;
}
.hv-service-text {
  position: absolute;
  color: white;
  z-index: 3;
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  padding-right: 15px;
}
@media screen and (min-width: $screen-lg-min) {
  .hv-service-text {
    font-size: 36px;
  }
}
.hv-service-text-title {
  margin-bottom: 12px;
}
.hv-service-text-description {
  font-weight: 400;
  font-size: 18px;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.hv-service-overlay {
  background-color: $primary-color;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hv-service-image {
  height: 100%;
  z-index: 1;
}
.hv-about-description {
  width: 100%;
  background-color: $primary-color;
  color: white;
  font-size: 3vw;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media all and (max-width: $screen-xs-max) {
  .hv-about-description,
  .hv-service-text {
    font-size: 36px;
  }
}
@media screen and (min-width: $screen-lg-min) {
  .hv-about-description,
  .hv-service-text {
    font-size: 44px;
  }
}

/* About contact ------------------------ */
.hv-contact {
  margin-top: 8vh;
  margin-bottom: 6vh;
}
@media screen and (min-width: $screen-lg-min) {
  .hv-contact {
    margin-top: 64px;
    margin-bottom: 48px;
  }
}
.hv-contact-instagram {
  position: relative;
}
.hv-contact-instagram-image {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hv-contact-instagram-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.3;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}
.hv-contact-instagram-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  text-align: center;
  color: $primary-color;
  font-size: 18px;
  z-index: 3;
}
.hv-contact-instagram-icon {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 4px solid $primary-color;
  font-size: 50px;
  line-height: 92px;
  margin: 0 auto;
}
.hv-contact-handle {
  font-weight: 700;
}
.hv-contact-text-wrapper {
  margin-top: 50%;
  transform: translatey(-50%);
}
.hv-contact-text-wrapper {
  color: $primary-color; 
  font-weight: bold;
}
.hv-contact-text-wrapper .a {
}
.hv-contact-text-wrapper .b ,
.hv-contact-text-wrapper .d {
  font-size: 2vw;
  color: #555;
}
.hv-contact-text-wrapper .c {
  font-size: 4vw;
  color: #555;
}
@media all and (max-width: $screen-xs-max) {
  .hv-contact-text-wrapper {
    font-size: 48px;
  }
}
@media all and (max-width: $screen-sm-max) {
  .hv-contact {
    margin-bottom: 0px !important;
  }
}
/* About Team ---------------------------- */

.hv-team {
  width: 100%;
  background-color: $primary-color;
  margin-bottom: 12px;
}
.hv-team-heading {
  @extend .scss-large-content-font;
  color: white;
  margin-top: 48px;
}
.hv-members {
  margin-top: 48px;
  margin-bottom: 48px;
  position: relative;
}
.hv-member-image {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hv-member-overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: $primary-color;
  display: none;
  z-index: 2;
  opacity: 0.3;
}
.hv-member-text {
  position: absolute;
  color: white;
  padding: 15px 30px;
  top: 0px;
  left: 0px;
  z-index: 3;
  display: none;
  font-size: 1.5vw;
}
@media all and (max-width: $screen-xs-max) {
  .hv-member-text {
    font-size: 12px;
  }
}
@media screen and (min-width: $screen-lg-min) {
  .hv-member-text {
    font-size: 18px;
  }
}


/* ==========================================
   Blog  
   ========================================== */

.hv-blog-posts hr {
  height: 3px;
  background-color: $primary-color;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.hv-blog-banner {
  background-color: black;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hv-blog-header {
  @extend .scss-large-content-font;
  color: white;
  font-weight: 400;
}
.hv-blog {
  padding-top: 48px;
  padding-bottom: 48px;
  color: #555;
}
.hv-blog.hover {
  background-color: $primary-color;
  color: #eee;
}
.hv-blog-post {
  height: 24vw;
}
.hv-blog-image-wrapper {
  overflow: hidden;
  height: 100%;
}
.hv-blog-image { 
  width: 100%;
}
.hv-blog-title {
  font-weight: 700;
  font-size: 3vw;
  color: inherit;
}
.hv-blog-post-wrapper {
  position: relative;
  height: 100%;
}
.hv-blog-post-description {
  position: absolute !important;
  top: 50%;
  transform: translatey(-50%);
}
@media all and (max-width: $screen-xs-max) {
  .hv-blog-title {
    font-size: 24px;
  }
  .hv-blog-post {
    height: 280px;
  }
}
.hv-pagination {
  text-align: center;
}

/* ========================================== 
   Blog Post 
   ========================================== */

.hv-post-banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hv-post-banner-image {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.hv-post-banner-text {
  @extend .scss-large-content-font;
  z-index: 2;
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
  bottom: 0px;
}
.hv-post hr {
  height: 3px;
  background-color: $primary-color;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.hv-post-return {
  margin: 24px 0;
}
.hv-post-return a {
  color: $primary-color;
}
.hv-post {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.hv-post article {
  margin-bottom: 10vh;
}
.hv-post .post {
  width: 100%;
}
.hv-post img ,
.hv-post iframe {
  max-width: 100%;
}
.hv-post h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 0px !important;
  font-weight: 700 !important;
}
.hv-post p {
  margin-bottom: 20px;
}
.hv-post {
  line-height: 1.6em;
  font-size: 1.2em;
  color: #333;
}

/* ========================================== 
  Loading  
   ========================================== */

.hv-loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  z-index: 1000;
  overflow: hidden;
  top: 0px;
  left: 0px;
}
.hv-loading-overlay .hv-loading {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.hv-loading-image {
  width: 200px;
  height: 200px;
}
.hv-loading-overlay .hv-loading .hv-loading-image {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


