/* Sass variables and Classes -------------- */

$primary-color: #0000ff;
$primary-color-transparent: rgba(0,0,256,0.3);

$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;

.scss-large-content-font {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 5vw;
}
/* 
 * .scss-large-content-font needs to be appended with this media query
 * in order to support this responsive design
 * @media all and (max-width: $screen-xs-max) {
 *   .hv-newsletter-wrapper {
 *     font-size: 42px;
 *   }
 * }
 */

/* ========================================== 
   Default
   ========================================== */

/* Base ------------------------------------- */
body {
  min-width: $screen-xs-max;
  font: 14px Open Sans, Helvetica, Arial, sans-serif;
}

/* Navigation ------------------------------- */
.hv-nav {
  width: 70px;
  height: 70px;
  background-color: $primary-color;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  left: 0px;
  top: 0px;
}
.hv-nav img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.hv-nav-expanded {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $primary-color;
  display: none;
}
.hv-nav-links {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);;
}
.hv-nav-link {
  color: white;
  font-size: 4vw;
}

/* Newsletter ------------------------------ */

.hv-newsletter {
  @extend .scss-large-content-font;
  background-color: $primary-color;
  font-weight: 400 !important;
  height: 20vw;
  color: white;
  position: relative;
}
.hv-newsletter-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  line-height: 1.4em;
}
@media all and (max-width: $screen-xs-max) {
  .hv-newsletter-wrapper {
    font-size: 42px;
  }
  .hv-newsletter {
    height: 150px;
  }
}
.hv-newsletter-form {
  border-bottom: 4px solid white;
}
.hv-newsletter-input {
  background-color: $primary-color;
  border: 0px;
}
.hv-newsletter-input:focus ,
.hv-newsletter-submit:focus {
  outline-width: 0;
}
.hv-newsletter-submit {
  border: 0px;
  background-color: white;
  color: $primary-color;
}
.hv-footer-information {
  height: 5vw;
  background-color: #ccc;
}
.hv-footer-links-wrapper {
  float: right;
}
.hv-footer-link {
  line-height: 5vw;
  display: inline-block;
  padding-left: 2vw;
}
.hv-footer-link a {
  color: $primary-color;
}

/* ========================================== 
   Home
   ========================================== */

/* Banners ---------------------------------- */
.hv-banners {
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}
.hv-banner {
  display: none;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.hv-banner.active {
  display: block;
}
.hv-banner-nav-container {
  position: absolute;
  right: 12px;
  top: 12px;
}
.hv-banner-nav {
  border: 3px solid $primary-color;
  color: $primary-color;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
}
.hv-banner-nav.active {
  background-color: $primary-color;
  color: white;
}

/* Mission ---------------------------------- */
.hv-mission-container {
  @extend .scss-large-content-font;
  position: relative;
  margin-bottom: 10vh;
  min-width: $screen-xs-max - 48;
}
@media all and (max-width: $screen-xs-max) {
  .hv-mission-container {
    font-size: 42px;
  }
}
.hv-art-mission,
.hv-commercial-mission {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: 50%;
}
.hv-art-mission {
  text-align: right;
  direction: rtl;
  color: $primary-color;
  right: 0px;
}

/* Case Study -------------------------------- */
.hv-case-study {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.hv-case-study-img {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: $screen-xs-max;
  height: 100vh;
}
.hv-case-study-bg {
  min-width: $screen-xs-max;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color-transparent;;
  position: relative;
}
.hv-case-study-contents {
  top: 40%;
  position: absolute;
}
.hv-case-study-title-container {
  background-color: $primary-color;
  display: inline-block;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.hv-case-study-logo {
  height: 7vw;
  width: auto;
  vertical-align: top;
}
.hv-case-study-title {
  @extend .scss-large-content-font;
  font-weight: 400 !important;
  color: white;
  line-height: 7vw;
}
.hv-case-study-catch {
  font-family: Montserrat;
  font-size: 3vw;
  color: white;
  margin-top: 3vh;
  width: 60%;
}
.hv-case-study-link {
  font-family: Montserrat;
  color: $primary-color;
  background-color: white;
  font-size: 2vw;
  padding: 2vh;
  margin-top: 3vh;
  display: inline-block;
  font-weight: 700;
}
@media all and (max-width: $screen-xs-max) {
  .hv-case-study {
    min-width: $screen-xs-max;
  }
  .hv-case-study-contents {
    top: 30%;
  }
  .hv-case-study-img, .hv-case-study-bg {
    height: 500px;
  }
  .hv-case-study-title-container {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .hv-case-study-logo {
    height: 56px;
    width: 56px;
  }
  .hv-case-study-title {
    font-size: 40px;
    line-height: 56px;
  }
  .hv-case-study-catch {
    font-size: 24px;
  }
  .hv-case-study-link {
    font-size: 18px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .hv-case-study-img, .hv-case-study-bg {
    height: 560px;
  }
}

/* Project Grid -------------------------------- */
.hv-projects-heading {
  @extend .scss-large-content-font;
  margin-top: 10vh;
  position: relative;
  margin-bottom: 10vh;
  min-width: $screen-xs-max - 30;
  color: $primary-color;
}
@media all and (max-width: $screen-xs-max) {
  .hv-projects-heading {
    font-size: 42px;
  }
}
.hv-projects-banners {
  margin-bottom: 10vh;
}
.hv-project-banner-wrapper {
  margin-bottom: 30px;
}
.hv-project-banner-bg {
  background-color: #aaa; /* load color */
  color: white;
  position: relative;
}
.hv-project-banner-header {
  position: relative;
  height: 80px;
}
.hv-project-banner-header-logo {
  height: 80px;
  width: auto;
}
.hv-project-banner-header-link {
  float:right; 
  line-height: 80px;
  font-size: 20px;
  color: white;
  margin-right: 12px;
}
.hv-project-banner-content {
  position: relative;
  height: 440px;
}
.hv-project-banner-description ,
.hv-project-banner-image-wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
}
.hv-project-banner-description {
  padding:10%;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
}
.hv-project-banner-image-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.hv-project-banner-image {
  height: 100%;
  transform: translatex(-50%);
  left: 50%;
  position: absolute;
  bottom: 0px;
}

/* ==========================================
   Project Page 
   ========================================== */

.hv-project-title {
  @extend .scss-large-content-font;
  color: white;
  margin-top: 10vh;
  text-align: center;
}
.hv-project-description {
  font-size: Montserrat;
  color: white;
  text-align: center;
}
.hv-project-slideshow-wrapper {
  width: 100vw;
  background-color: #ccc;
}
.hv-project-slideshow {
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}
.hv-project-slide.active {
  display: block;
}
.hv-project-slide {
  display: none;
  width: 100% ;
}
.hv-project-nav-container {
  position: absolute;
  z-index: 10;
  right: 12px;
  top: 12px;
}
.hv-project-nav {
  border: 3px solid $primary-color;
  color: $primary-color;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
}
.hv-project-nav.active {
  background-color: $primary-color;
  color: white;
}
