/* Sass variables */
$primary-color: #0000ff;
$min-width: 720px;
$primary-color-transparent: rgba(0,0,256,0.3);

/* Base */
body {
  min-width: $min-width;
  font: 14px Open Sans, Helvetica, Arial, sans-serif;
}

/* Navigation ------------------------------- */
.hv-nav {
  width: 70px;
  height: 70px;
  background-color: $primary-color;
  position: fixed;
  z-index: 1000;
}
.hv-nav img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/* Banners ---------------------------------- */
.hv-banners {
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}
.hv-banner {
  display: none;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.hv-banner.active {
  display: block;
}
.hv-banner-nav-container {
  position: absolute;
  right: 12px;
  top: 12px;
}
.hv-banner-nav {
  border: 3px solid $primary-color;
  color: $primary-color;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
}
.hv-banner-nav.active {
  background-color: $primary-color;
  color: white;
}

/* Mission ---------------------------------- */
.hv-mission-container {
  font-size: 5vw;
  font-family: Montserrat;
  font-weight: 700;
  position: relative;
  margin-bottom: 10vh;
  min-width: $min-width;
}
@media all and (max-width: $min-width) {
  .hv-mission-container {
    font-size: 50px;
    background-color: yellow;
  }
}
.hv-art-mission,
.hv-commercial-mission {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: 50%;
}
.hv-art-mission {
  text-align: right;
  direction: rtl;
  color: $primary-color;
  right: 0px;
}

/* Case Study -------------------------------- */
.hv-case-study {
  width: 100vw;
  position: relative;
}
.hv-case-study-bg {
  min-width: $min-width;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color-transparent;;
  position: relative;
}
.hv-case-study-img {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100vw;
  min-height: 100vh;
}











